kind: Secret
apiVersion: v1
metadata:
  name: '{{ ocp_server_name[item]|lower }}-bmc-secret'
data:
  password: '{{ lookup('env', 'ilo_password')| b64encode }}'
  username: '{{ lookup('env', 'ilo_username')| b64encode }}'
type: Opaque
