---
- hosts: all
  gather_facts: no
  connection: local
  collections:
    - redhat.satellite

  tasks:

    - name: Unregister the insights client
      shell: insights-client --unregister
      when: 
        - env_delete == "dev"
        - inventory_hostname in groups['foreman_demo_dev']  
      ignore_errors: yes

    - name: Unregister the insights client
      shell: insights-client --unregister
      when: 
        - env_delete == "qualif"
        - inventory_hostname in groups['foreman_demo_qualif']
      ignore_errors: yes

    - name: Unregister the insights client
      shell: insights-client --unregister
      when: 
        - env_delete == "prod"
        - inventory_hostname in groups['foreman_demo_prod']
        - env_delete == "prod"
      ignore_errors: yes

    - name: Unregister the insights client
      shell: insights-client --unregister
      when: 
        - env_delete == "all"
        - inventory_hostname in groups['foreman_demo_dev']
      ignore_errors: yes
    
    - name: Unregister the insights client
      shell: insights-client --unregister
      when: 
        - env_delete == "all"
        - inventory_hostname in groups['foreman_demo_qualif']
      ignore_errors: yes

    - name: Unregister the insights client
      shell: insights-client --unregister
      when: 
        - env_delete == "all"
        - inventory_hostname in groups['foreman_demo_prod']
      ignore_errors: yes