---
kind: Service
apiVersion: v1
metadata:
  name: {{ topic }}-{{ uuid }}{{ item }}
  namespace: vms-demo
  labels:
    type: {{ topic }}
spec:
  ports:
    - name: cockpit
      protocol: TCP
      port: 9090
      targetPort: 9090
  selector:
    kubevirt.io/domain: {{ topic }}-{{ uuid }}{{ item }}
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ topic }}-{{ uuid }}{{ item }}
  namespace: vms-demo
  labels:
    type: {{ topic }}
spec:
  host: {{ topic }}-{{ uuid }}{{ item }}-vms-demo.apps.ocp.drkspace.fr
  to:
    kind: Service
    name: {{ topic }}-{{ uuid }}{{ item }}
    weight: 100
  port:
    targetPort: cockpit
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None